.boards {
  width: auto;
  padding: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
}
.board{
  width: 320px;
}
.bg-screen{
  background: rgb(45, 45, 45);
}

.bg-color{
  background: rgb(33, 33, 33);
}




.cdk-drag-placeholder {
  opacity: 0.2;
  /* width: 350px; */
  border: 5px dashed rgb(56, 255, 169);
  margin: 0 10px;
  
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.boards.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}


.board-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px gray dashed;
  width: 300px;
  padding: 32px;
  height: 350px;
}